<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mike Croall Stats</title>

    <script defer type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script defer type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"></style>
    <link rel="stylesheet" type="text/css" href="/css/index.css"></style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mike-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Mike Croall</a>
            </div>
            <div class="collapse navbar-collapse" id="mike-nav">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="active"><a href="/stats">Stats <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mainWrap">
        <div class="innerWrap">
            <ul class="socialLinks">
                <li>
                    <span class="icon-envelop"></span>
                    <div class="clickCount">Not tracking</div>
                </li>
                <li>
                    <span class="icon-linkedin"></span>
                    <div class="clickCount">{{doc.linkedinClicks}} clicks</div>
                </li>
                <li>
                    <span class="icon-github"></span>
                    <div class="clickCount">{{doc.githubClicks}} clicks</div>
                </li>
                <li>
                    <span class="icon-flickr3"></span>
                    <div class="clickCount">{{doc.flickrClicks}} clicks</div>
                </li>
            </ul>
            <ul class="socialLinks">
                <li>
                    <div class="clickCount">{{doc.homeVisits}} home visits</div>
                </li>
                <li>
                    <div class="clickCount">{{doc.aboutVisits}} about visits</div>
                </li>
                <li>
                    <div class="clickCount">{{doc.requests404}} 404s</div>
                </li>
            </ul>
            <pre class="route-404-list pre-scrollable">
404'd routes
{{doc.routesOf404}}
            </pre>
        </div>
    </div>
</body>

</html>
